name: Qiita - publish articles

on:
  push:
    branches:
      - main
    paths:
      - 'qiita/**'
      - '.github/workflows/qiita_publish_articles.yml'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  publish_articles:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    environment:
      name: qiita
      url: https://qiita.com/mziyut
    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
      - uses: actions/setup-node@v6
        with:
          cache: 'yarn'
      - run: yarn install
      - run: yarn workspace qiita publish:all
        env:
          QIITA_TOKEN: ${{ secrets.QIITA_TOKEN }}
      - run: yarn workspace qiita format:fix
      - uses: peter-evans/create-pull-request@v7
        with:
          commit-message: Publish articles
          delete-branch: true
          title: Publish articles
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          reviewers: mziyut
          branch: create-pull-request/patch-publish-articles
          add-paths: |
            qiita/public/*
          labels: |
            articles
            automerge
            qiita
